[project]
name = "institute-of-ai"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "matplotlib",
    "numpy",
    "pandas",
    "scikit-learn",
]

[dependency-groups]
dev = [
    "ipykernel",
]
